<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid justify-content-start">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="btn btn-sm btn-outline-primary" href="" role="button">Home</a>
      </li>
      <li class="navbar-item">
        <a class="btn btn-sm btn-outline-primary" href="/proyectos" role="button">Proyectos</a>
      </li>
      <li class="navbar-item">
        <a class="btn btn-sm btn-outline-primary" href="/quienes" role="button">Quienes somos</a>
      </li>
      <li class="navbar-item">
        <a class="btn btn-sm btn-outline-primary" href="/contacto" role="button">Contacto</a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>

